.section_next_training {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.section_next_training__title {
  position: relative;
  width: max-content;
  font-size: 3.6rem;
}

.section_next_training__title::after {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  content: "";
  width: 100%;
  height: 0.4rem;
  background-color: #000000;
}

.section_next_training__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}

.section_next_training__cards__item {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  padding: 3.5rem 2rem;
  max-width: 30rem;
  border-radius: 3px;
  box-shadow: 0 -4px 25px rgba(0, 0, 0, 0.025), 0 4px 25px rgba(0, 0, 0, 0.025);
}

.section_next_training__cards__item__title {
  font-size: 2.4rem;
  font-weight: 500;
}

.section_next_training__cards__item__content {
  font-size: 1.8rem;
  line-height: 3.5rem;
}

/* Idéalement on intégre en mobile first */
/* On écrit le style mobile en premier puis on l'adapte aux desktop avec les medias queries */
/* Ici on fait l'inverse, pas recommandé */
@media screen and (max-width: 992px) {
  .section_next_training__cards {
    flex-direction: column;
  }

  .section_next_training__cards__item {
    max-width: unset;
  }
}

@media screen and (max-width: 485px) {
  .section_next_training__title {
    width: initial;
  }
}
